<launch>
  
  <!-- Startup PR2 without any mechanism controllers -->
  <include file="$(find pr2_gazebo)/launch/pr2_no_controllers.launch" />

  <!-- Load and Start Default Controllers -->
  <include file="$(find pr2_controller_configuration_gazebo)/launch/pr2_default_controllers.launch" />

</launch>

