<launch>

  <!-- send pr2_l_arm.xml to param server -->
  <include file="$(find pr2_defs)/launch/upload_l_arm.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_l_arm" pkg="gazebo_tools" type="spawn_gazebo_model" args="robot_description" respawn="false" output="screen"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

</launch>

