<launch>
  <arg name="gui" value="false" />

  <env name="DISPLAY" value="" unless="$(arg gui)" /> <!-- set DISPLAY="" closes  Assertion `bAttached && "A new DepthBuffer for a RenderTarget was created, but after creation" "it says it's incompatible with that RT"' error -->

  <!-- Bring up the node we want to test. -->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(find pr2_gazebo)/test/Media/worlds/empty.world" /> <!-- set empty.world for test, which does not require downloading models -->
  </include>

  <!-- Run hztest -->
  <!-- Test for publication of 'base_pose_ground_truth' topic. -->
  <test test-name="hztest_test_base_pose_ground_truth" pkg="rostest" type="hztest" time-limit="500" name="base_pose_ground_truth_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (base_pose_ground_truth_test vs. scan_test). -->
    <param name="topic" value="/base_pose_ground_truth" />
    <param name="hz" value="100.0" />
    <param name="hzerror" value="2.0" />
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
  </test>
  <!-- Test for publication of 'mechanism_state' topic. -->
  <test test-name="hztest_test_mechanism_state" pkg="rostest" type="hztest" time-limit="500" name="mechanism_state_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (mechanism_state_test vs. scan_test). -->
    <param name="topic" value="/mechanism_statistics" />
    <param name="hz" value="1.0" />
    <param name="hzerror" value="0.5" />
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
  </test>
  <!-- Test for publication of 'mechanism_state' topic. -->
  <test test-name="hztest_test_joint_state" pkg="rostest" type="hztest" time-limit="500" name="joint_state_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (mechanism_state_test vs. scan_test). -->
    <param name="topic" value="/joint_states" />
    <param name="hz" value="100.0" />
    <param name="hzerror" value="8.0" /> <!-- changed on 2010-06-22, tests are failing due to low hz (94ish) in sim (john) -->
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
  </test>
  <!-- Test for publication of '/tf' topic. -->
  <test test-name="hztest_test_tf_message" pkg="rostest" type="hztest" time-limit="500" name="tf_message_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (tf_message_test vs. scan_test). -->
    <param name="topic" value="/tf" />
    <param name="hz" value="100.0" />
    <param name="hzerror" value="50.0" /> <!-- for some ros reason, this is around 75Hz on my desktop! -->
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
    <param name="initial_cycles" value="1000" />
  </test>

</launch>
