<launch>
  <arg name="gui" default="false" />

  <env name="DISPLAY" value="" unless="$(arg gui)" /> <!-- set DISPLAY="" closes  Assertion `bAttached && "A new DepthBuffer for a RenderTarget was created, but after creation" "it says it's incompatible with that RT"' error -->

  <!-- Bring up the node we want to test. -->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(find pr2_gazebo)/test/Media/worlds/empty.world" /> <!-- set empty.world for test, which does not require downloading models -->
  </include>

  <!-- Test for publication of 'odom' topic. -->
  <test test-name="hztest_test_odom" pkg="rostest" type="hztest" time-limit="500" name="odom_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (odom_test vs. scan_test). -->
    <param name="topic" value="/base_odometry/odom" />
    <param name="hz" value="100.0" />
    <param name="hzerror" value="20.0" /> <!-- for whatever ros reason, this is 90Hz on my desktop! -->
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
  </test>
</launch>
