<launch>
  <!-- Bring up the node we want to test. -->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch"/>

  <!-- Run hztest -->
  <!-- Test for publication of 'base_pose_ground_truth' topic. -->
  <test test-name="hztest_test_base_pose_ground_truth" pkg="pr2_gazebo" type="hztest" time-limit="500" name="base_pose_ground_truth_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (base_pose_ground_truth_test vs. scan_test). -->
    <param name="topic" value="/base_pose_ground_truth" />
    <param name="hz" value="100.0" />
    <param name="hzerror" value="2.0" />
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
  </test>
  <!-- Test for publication of 'mechanism_state' topic. -->
  <test test-name="hztest_test_mechanism_state" pkg="pr2_gazebo" type="hztest" time-limit="500" name="mechanism_state_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (mechanism_state_test vs. scan_test). -->
    <param name="topic" value="/mechanism_statistics" />
    <param name="hz" value="1.0" />
    <param name="hzerror" value="0.5" />
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
  </test>
  <!-- Test for publication of 'mechanism_state' topic. -->
  <test test-name="hztest_test_joint_state" pkg="pr2_gazebo" type="hztest" time-limit="500" name="joint_state_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (mechanism_state_test vs. scan_test). -->
    <param name="topic" value="/joint_states" />
    <param name="hz" value="100.0" />
    <param name="hzerror" value="8.0" /> <!-- changed on 2010-06-22, tests are failing due to low hz (94ish) in sim (john) -->
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
  </test>
  <!-- Test for publication of '/tf' topic. -->
  <test test-name="hztest_test_tf_message" pkg="pr2_gazebo" type="hztest" time-limit="500" name="tf_message_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (tf_message_test vs. scan_test). -->
    <param name="topic" value="/tf" />
    <param name="hz" value="100.0" />
    <param name="hzerror" value="25.0" /> <!-- for some ros reason, this is around 80Hz on my desktop! -->
    <param name="test_duration" value="10.0" />
    <param name="check_intervals" value="false" />
    <param name="initial_cycles" value="1000" />
  </test>

</launch>
