<launch>
  <!-- Bring up the node we want to test. -->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch"/>

  <!-- Run hztest -->
  <test test-name="test_my_hztest_1" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_2" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_3" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_4" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_5" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_6" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_7" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_8" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_9" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_10" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_11" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_12" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_13" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_14" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_15" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_16" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_17" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_18" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_19" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_20" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_21" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_22" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_23" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_24" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_25" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_26" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_27" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_28" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_29" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_30" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_31" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_32" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_33" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_34" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_35" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_36" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_37" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_38" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_39" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_40" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_41" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_42" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_43" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_44" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_45" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_46" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_47" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_48" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_49" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_50" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_51" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_52" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_53" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_54" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_55" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_56" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_57" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_58" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_59" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_60" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_61" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_62" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_63" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_64" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_65" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_66" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_67" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_68" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_69" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_70" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_71" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_72" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_73" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_74" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_75" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_76" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_77" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_78" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_79" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_80" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_81" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_82" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_83" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_84" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_85" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_86" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_87" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_88" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_89" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_90" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_91" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_92" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_93" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_94" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_95" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_96" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_97" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_98" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_99" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_100" pkg="pr2_gazebo" type="my_hztest.py" time-limit="100000000" />

</launch>
