<launch>

  <!-- start up empty world -->
  <include file="$(find gazebo)/launch/empty_world.launch"/>

  <!-- start up robot -->
  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <!-- Tug Arms For Navigation -->
  <node name="tuckarms" pkg="pr2_experimental_controllers" type="tuckarm.py" args="b" output="screen" />

  <!-- load map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/map_blank.png 0.1" respawn="true" machine="three" />

  <!-- nav-stack -->
  <include file="$(find pr2_2dnav_gazebo)/2dnav-stack-fake_localization.launch"/>

</launch>

