<launch>

  <!-- start up simple world -->
  <include file="$(find gazebo)/launch/simple_world.launch"/>

  <!-- start up robot -->
  <include file="$(find pr2_alpha_gazebo)/pr2_armless.launch"/>

  <!-- load map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/map3.png 0.1" respawn="true" machine="three" />

  <!-- nav-stack -->
  <include file="$(find pr2_2dnav_gazebo)/2dnav-stack-amcl.launch"/>

</launch>

