<launch>
  <master auto="start" />

    <!-- start up empty world -->
    <include file="$(find gazebo)/launch/empty_world.launch"/>

    <!-- start up robot -->
    <include file="$(find pr2_gazebo)/prototype1.launch"/>

    <!-- load map -->
    <node pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/map_blank.png 0.1" respawn="false" />

    <!-- nav-stack -->
    <include file="$(find pr2_2dnav_gazebo)/2dnav-stack-fake_localization.launch"/>

    <!-- for visualization -->
    <!--
    <node pkg="rviz" type="rviz" respawn="false" />
    <node pkg="nav_view" type="nav_view" respawn="false" />
    -->

    <!--
    <param name="/trex/ping_frequency" value="1"/>
    <node pkg="highlevel_controllers" type="recharge_controller" args="" respawn="false" />
    <node pkg="kinematic_planning" type="kinematic_planning" args="robot_description"/>
    <include file="$(find world_3d_map)/run.xml"/>
    <node pkg="highlevel_controllers" type="move_arm" args="right" respawn="false"/>
    <node pkg="highlevel_controllers" type="move_arm" args="left" respawn="false" />
    <node pkg="highlevel_controllers" type="move_end_effector" args="right" respawn="false"/>
    -->

    <!-- test -->
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_tm2pi"    pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 25.70 -y 25.70 -t -6.2832 -nav_t_tol 0.1 -nav_xy_tol 0.01 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 50 " time-limit="60" />
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_tmpi"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 25.70 -y 25.70 -t -3.1416 -nav_t_tol 0.1 -nav_xy_tol 0.20 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 80 " time-limit="90" />

    <!-- these tests do not pass, commented out for now until fixed
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_tpi"      pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 25.70 -y 25.70 -t  3.1416 -nav_t_tol 0.1 -nav_xy_tol 0.02 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 50 " time-limit="60" /> 
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_t2pi"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 25.70 -y 25.70 -t  6.2832 -nav_t_tol 0.1 -nav_xy_tol 0.01 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 50 " time-limit="60" />
    -->

    <!--
    <node pkg="rosrecord" type="rosrecord" args="-f 2dnav_empty_rotation-build$(optenv BUILD_NUMBER) /odom /cmd_vel"/>
    -->

</launch>
