<launch>

    <!-- start up throttled empty world, test to see if ground hits are the cause of spurious failures -->
    <include file="$(find test_pr2_2dnav_gazebo)/test_world.launch"/>

    <!-- start up robot -->
    <include file="$(find pr2_gazebo)/prototype1.launch"/>

    <!-- load map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/map_blank.png 0.1" respawn="false" />

    <!-- nav-stack -->
    <include file="$(find pr2_2dnav_gazebo)/2dnav-stack-amcl.launch"/>

    <!-- for visualization -->
    <!--
    <node name="nav_view" pkg="nav_view" type="nav_view" respawn="false" />
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" />
    <node name="rxplot" pkg="rosviz" type="rxplot" respawn="false" args="-m. -p10 /state/pos/x,/state/pos/y,/state/pos/th" />
    -->

    <!--
    <param name="/trex/ping_frequency" value="1"/>
    <node name="highlevel_controllers" pkg="highlevel_controllers" type="recharge_controller" args="" respawn="false" />
    <node name="kinematic_planning" pkg="kinematic_planning" type="kinematic_planning" args="robot_description"/>
    <include file="$(find world_3d_map)/run.xml"/>
    <node name="highlevel_controllers" pkg="highlevel_controllers" type="move_arm" args="right" respawn="false"/>
    <node name="highlevel_controllers" pkg="highlevel_controllers" type="move_arm" args="left" respawn="false" />
    <node name="highlevel_controllers" pkg="highlevel_controllers" type="move_end_effector" args="right" respawn="false"/>
    -->

    <!-- test -->
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_amcl_xmpi"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 23.56 -y 25.70 -t 0       -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 140 -amcl 25.70 25.70 0" time-limit="150" />
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_amcl_xm1"      pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 24.70 -y 25.70 -t 0       -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 140 -amcl 25.70 25.70 0" time-limit="150" />
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_amcl_x1"       pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 26.70 -y 25.70 -t 0       -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 70 -amcl 25.70 25.70 0" time-limit="80" />
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_amcl_xpi"      pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 28.84 -y 25.70 -t 0       -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 70 -amcl 25.70 25.70 0" time-limit="80" />

    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_amcl_ympi"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 25.70 -y 23.56 -t 0       -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 110 -amcl 25.70 25.70 0" time-limit="120" />
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_amcl_y1"       pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 25.70 -y 26.70 -t 0       -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 80 -amcl 25.70 25.70 0" time-limit="90" />

    <!-- these tests do not pass, commented out for now until fixed
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_amcl_ym1"      pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 25.70 -y 24.70 -t 0       -nav_t_tol 0.1 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 80 -amcl 25.70 25.70 0" time-limit="90" />
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_empty_amcl_ypi"      pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x 25.70 -y 28.84 -t 0       -nav_t_tol 0.1 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 80 -amcl 25.70 25.70 0" time-limit="90" />
    -->

    <!--
    <node name="rosrecord" pkg="rosrecord" type="rosrecord" args="-f 2dnav_empty_amcl_axis-build$(optenv BUILD_NUMBER) /odom /cmd_vel"/>
    -->

</launch>
