<launch>
  <master auto="start" />

    <!-- start up wg world -->
    <include file="$(find gazebo)/launch/wg_world.launch"/>

    <!-- start up robot -->
    <include file="$(find pr2_gazebo)/prototype1.launch"/>

    <!-- load map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/willowMap25mm.png 0.025" respawn="false" />
    <!--
    <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/willowMap.png 0.1" respawn="false" />
    -->

    <!-- nav-stack -->
    <include file="$(find pr2_2dnav_gazebo)/2dnav-stack-fake_localization.launch"/>

    <include file="$(find 2dnav_pr2)/rviz/rviz_move_base.launch"/>
    <node name="rxtools" pkg="rxtools" type="rxconsole" respawn="false" />
    <!--
    <param name="/trex/ping_frequency" value="1"/>
    <node name="highlevel_controllers" pkg="highlevel_controllers" type="recharge_controller" args="" respawn="false" />
    <node name="kinematic_planning" pkg="kinematic_planning" type="kinematic_planning" args="robot_description"/>
    <node name="highlevel_controllers" pkg="highlevel_controllers" type="move_arm" args="right" respawn="false"/>
    <node name="highlevel_controllers" pkg="highlevel_controllers" type="move_arm" args="left" respawn="false" />
    <node name="highlevel_controllers" pkg="highlevel_controllers" type="move_end_effector" args="right" respawn="false"/>
    -->

    <!-- test -->
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_wg_waypoint_1"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x  40.8 -y 42.5 -t 3.083 -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 800 " time-limit="820"/>
    <!-- these tests do not pass, commented out for now until fixed
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_wg_waypoint_2"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x  36.0 -y 34.9 -t 2.554 -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 480 " time-limit="500"/>
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_wg_waypoint_3"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x  31.3 -y 45.8 -t 0.000 -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 480 " time-limit="500"/>
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_wg_waypoint_4"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x  22.2 -y 20.0 -t 0.000 -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 480 " time-limit="500"/>
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_wg_waypoint_5"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x   7.5 -y 45.0 -t 1.571 -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 480 " time-limit="500"/>
    <test test-name="pr2_2dnav_gazebo_test_pr2_2dnav_wg_waypoint_6"     pkg="test_pr2_2dnav_gazebo" type="set_goal.py" args=" -x   9.4 -y 11.2 -t 0.000 -nav_t_tol 0.2 -nav_xy_tol 0.70 -odom_t_tol 0.0 -odom_xy_tol 0.0 -timeout 480 " time-limit="500"/>
    -->
</launch>
