<launch>
  <include file="$(find pr2_alpha)/sim.machine" />
  <!-- load empty world -->
  <include file="$(find gazebo)/launch/empty_world.launch"/>

  <!-- Bring up the node we want to test. -->
  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <!-- load controllers -->
  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch"/>
  <include file="$(find pr2_default_controllers)/head_position_controller.launch"/>
  <include file="$(find pr2_gazebo)/controllers/pr2_tilt_laser_controller.launch"/>

  <!-- start stereo -->
  <include file="$(find stereo_image_proc)/wide_stereoproc.launch" />
  <include file="$(find stereo_image_proc)/narrow_stereoproc.launch" />

  <!-- Run hztest -->
  <!-- Test for publication rate of 'stereo/cloud' topic -->
  <test test-name="hztest_test_narrow_stereo_cloud" pkg="rostest" type="hztest" time-limit="60" name="narrow_stereo_cloud_test">
    <!-- The topic to listen for -->
    <param name="topic" value="/narrow_stereo/cloud" />
    <!-- The expected publication rate [Hz].  Set to 0.0 to only check that at least one message is received. -->
    <param name="hz" value="20.0" />
    <!-- Acceptable error in the publication rate [Hz].  Ignored if hz is set to 0.0. -->
    <param name="hzerror" value="1.0" />
    <!-- Time to listen for [seconds] -->
    <param name="test_duration" value="2.0" />
    <!-- Whether each inter-message time interval should be checked against
    the expected publication rate and error bound [boolean].  If true, then
    the test will fail if the time elapsed between *any* two consecutive
    messages exceeded the specified limits.  If false, then we only check
    the average publication rate over the entire test.  Default: false. -->
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of 'left narrow_stereo camera image publish rate' topic -->
  <test test-name="hztest_test_narrow_stereo_left_image" pkg="rostest" type="hztest" time-limit="60" name="narrow_stereo_left_image_test">
    <param name="topic" value="/narrow_stereo/left/image" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of 'right narrow_stereo camera image publish rate' topic -->
  <test test-name="hztest_test_narrow_stereo_right_image" pkg="rostest" type="hztest" time-limit="60" name="narrow_stereo_right_image_test">
    <param name="topic" value="/narrow_stereo/right/image" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of narrow 'raw_stereo' topic. -->
  <test test-name="hztest_test_narrow_raw_stereo" pkg="rostest" type="hztest" time-limit="50" name="narrow_raw_stereo_test">
    <param name="topic" value="/narrow_stereo/raw_stereo" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>

  <!-- Run hztest -->
  <test test-name="hztest_test_wide_stereo_cloud" pkg="rostest" type="hztest" time-limit="60" name="wide_stereo_cloud_test">
    <param name="topic" value="/wide_stereo/cloud" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of 'left wide_stereo camera image publish rate' topic -->
  <test test-name="hztest_test_wide_stereo_left_image" pkg="rostest" type="hztest" time-limit="60" name="wide_stereo_left_image_test">
    <param name="topic" value="/wide_stereo/left/image" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of 'right wide_stereo camera image publish rate' topic -->
  <test test-name="hztest_test_wide_stereo_right_image" pkg="rostest" type="hztest" time-limit="60" name="wide_stereo_right_image_test">
    <param name="topic" value="/wide_stereo/right/image" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of wide 'raw_stereo' topic. -->
  <test test-name="hztest_test_wide_raw_stereo" pkg="rostest" type="hztest" time-limit="50" name="wide_raw_stereo_test">
    <param name="topic" value="/wide_stereo/raw_stereo" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>

</launch>
