<launch>
  <include file="$(find pr2_alpha)/sim.machine" />
  <!-- load empty world -->
  <include file="$(find gazebo)/launch/empty_world.launch"/>

  <!-- Bring up the node we want to test. -->
  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <!-- load controllers -->
  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch"/>
  <include file="$(find pr2_default_controllers)/head_position_controller.launch"/>
  <include file="$(find pr2_gazebo)/controllers/pr2_tilt_laser_controller.launch"/>

  <!-- Run hztest -->
  <!-- Test for publication of 'left narrow_stereo camera image publish rate' topic -->
  <test test-name="hztest_test_narrow_stereo_left_image" pkg="rostest" type="hztest" time-limit="60" name="narrow_stereo_left_image_test">
    <param name="topic" value="/narrow_stereo/left/image_raw" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of 'right narrow_stereo camera image publish rate' topic -->
  <test test-name="hztest_test_narrow_stereo_right_image" pkg="rostest" type="hztest" time-limit="60" name="narrow_stereo_right_image_test">
    <param name="topic" value="/narrow_stereo/right/image_raw" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of narrow 'raw_stereo' topic. -->
  <test test-name="hztest_test_narrow_raw_stereo" pkg="rostest" type="hztest" time-limit="50" name="narrow_raw_stereo_test">
    <param name="topic" value="/narrow_stereo/raw_stereo" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>

  <!-- Test for publication of 'left wide_stereo camera image publish rate' topic -->
  <test test-name="hztest_test_wide_stereo_left_image" pkg="rostest" type="hztest" time-limit="60" name="wide_stereo_left_image_test">
    <param name="topic" value="/wide_stereo/left/image_raw" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of 'right wide_stereo camera image publish rate' topic -->
  <test test-name="hztest_test_wide_stereo_right_image" pkg="rostest" type="hztest" time-limit="60" name="wide_stereo_right_image_test">
    <param name="topic" value="/wide_stereo/right/image_raw" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />    
  </test>

  <!-- Test for publication of wide 'raw_stereo' topic. -->
  <test test-name="hztest_test_wide_raw_stereo" pkg="rostest" type="hztest" time-limit="50" name="wide_raw_stereo_test">
    <param name="topic" value="/wide_stereo/raw_stereo" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>

  <!-- Test for publication of left forearm camera 'image_raw' topic. -->
  <test test-name="hztest_test_l_forearm_cam_raw" pkg="rostest" type="hztest" time-limit="50" name="l_forearm_cam_raw_test">
    <param name="topic" value="/l_forearm_cam/image_raw" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>

  <!-- Test for publication of right forearm camera 'image_raw' topic. -->
  <test test-name="hztest_test_r_forearm_cam_raw" pkg="rostest" type="hztest" time-limit="50" name="r_forearm_cam_raw_test">
    <param name="topic" value="/r_forearm_cam/image_raw" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>

  <!-- Test for publication of left forearm camera 'camera_info' topic. -->
  <test test-name="hztest_test_l_forearm_cam_info" pkg="rostest" type="hztest" time-limit="50" name="l_forearm_cam_info_test">
    <param name="topic" value="/l_forearm_cam/camera_info" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>

  <!-- Test for publication of right forearm camera 'camera_info' topic. -->
  <test test-name="hztest_test_r_forearm_cam_info" pkg="rostest" type="hztest" time-limit="50" name="r_forearm_cam_info_test">
    <param name="topic" value="/r_forearm_cam/camera_info" />
    <param name="hz" value="20.0" />
    <param name="hzerror" value="1.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>

</launch>
