<launch>
  <!-- Stereo image processing -->
  <node ns="wide_stereo" name="wide_stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="screen">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="true"/>
  </node>
  <node ns="narrow_stereo" name="narrow_stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="screen">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="true"/>
  </node>
  <group ns="narrow_stereo_textured">
    <remap from="/narrow_stereo_textured/left/image_raw" to="/narrow_stereo/left/image_raw" />
    <remap from="/narrow_stereo_textured/left/camera_info" to="/narrow_stereo/left/camera_info" />
    <remap from="/narrow_stereo_textured/right/image_raw" to="/narrow_stereo/right/image_raw" />
    <remap from="/narrow_stereo_textured/right/camera_info" to="/narrow_stereo/right/camera_info" />
    <node name="narrow_stereo_textured_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="screen">
      <param name="disparity_range" type="int" value="128"/>
      <param name="approximate_sync" type="bool" value="true"/>
    </node>
  </group>


  <!-- relay image_raw and cmaera_info into textured topics -->
  <node name="left_image_raw_relay" pkg="topic_tools" type="relay" args="/narrow_stereo/left/image_raw /narrow_stereo_textured/left/image_raw" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node name="right_image_raw_relay" pkg="topic_tools" type="relay" args="/narrow_stereo/right/image_raw /narrow_stereo_textured/right/image_raw" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node name="left_camera_info_relay" pkg="topic_tools" type="relay" args="/narrow_stereo/left/camera_info /narrow_stereo_textured/left/camera_info" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node name="right_camera_info_relay" pkg="topic_tools" type="relay" args="/narrow_stereo/right/camera_info /narrow_stereo_textured/right/camera_info" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>

</launch>


