<launch>
  <arg name="gui" default="false" />

  <env name="DISPLAY" value="" unless="$(arg gui)" /> <!-- set DISPLAY="" closes  Assertion `bAttached && "A new DepthBuffer for a RenderTarget was created, but after creation" "it says it's incompatible with that RT"' error -->

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(find pr2_gazebo)/test/spawn_test/origin_block.world"  />
  </include>

  <!-- start pr2 robot -->
  <include file="$(find pr2_gazebo)/test/spawn_test/pr2_spawn_with_offset.launch"/>

  <!-- test spawn -->
  <test test-name="test_pr2_offset_block_spawn" pkg="pr2_gazebo" type="check_pose.py" time-limit="20" />

</launch>

