<launch>

  <!-- start up empty world -->
  <include file="$(find gazebo)/launch/office_world.launch"/>

  <!-- start pr2 robot (pr2 - arms) -->
  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <!-- load head and base controllers -->
  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch"/>
  <include file="$(find pr2_default_controllers)/head_position_controller.launch"/>

  <!-- tuck arm -->
  <node pkg="pr2_experimental_controllers" type="tuckarm.py" args="b" output="screen" />

  <!-- for visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pr2_gazebo)/rviz/map.vcg"/>

  <!-- dynamic map generation -->
  <node pkg="gmapping" type="slam_gmapping" respawn="false" >
    <remap to="base_scan" from="scan"/>
  </node>

</launch>

