<launch>
  <!-- start up empty world -->
  <include file="$(find gazebo)/launch/balcony_world.launch"/>

  <!-- start prototype1 robot (pr2 - arms) -->
  <include file="$(find pr2_gazebo)/prototype1.launch"/>

  <!-- load head and base controllers -->
  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch"/>
  <include file="$(find pr2_default_controllers)/head_position_controller.launch"/>

</launch>

