<launch>

  <!-- send pr2_armless urdf to param server -->
  <include file="$(find pr2_defs)/launch/upload_pr2_armless.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="pr2_armless_urdf" pkg="gazebo_tools" type="spawn_gazebo_model" args="robot_description -m pr2_armless_model" respawn="false" />

  <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />

</launch>

