<launch>

  <!-- load controllers -->
  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch"/>
  <include file="$(find pr2_default_controllers)/head_position_controller.launch"/>
  <include file="$(find pr2_gazebo)/controllers/pr2_tilt_laser_controller.launch"/>
  <include file="$(find pr2_arm_gazebo)/controllers/l_arm_position_controller.launch"/>
  <include file="$(find pr2_arm_gazebo)/controllers/r_arm_position_controller.launch"/>
  <include file="$(find pr2_gazebo)/controllers/pr2_torso_controller.launch"/>

</launch>

