<launch>
  
  <!-- send pr2 urdf to param server -->
  <include file="$(find pr2_description)/robots/upload_pr2.launch" />


  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="pr2_gazebo_model" pkg="gazebo_tools" type="gazebo_model" args="$(optenv ROBOT_INITIAL_POSE) -p robot_description spawn" respawn="false" output="screen" />
 
  <!-- default bringup script -->
  <include file="$(find pr2_gazebo)/pr2_bringup.launch" />

</launch>

