<launch>

  <!-- send prototype1 urdf to param server -->
  <include file="$(find pr2_defs)/launch/upload_prototype1.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="prototype1_urdf" pkg="gazebo_tools" type="spawn_gazebo_model" args="robot_description 0 0 0 0 0 0 prototype1_model" respawn="false" />

  <!-- Joystick uncomment if you have joystick
  <param name="joy/deadzone" value="5000"/>
  <node machine="four" pkg="joy" type="joy"  respawn="true"/>
  -->

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Diagnostics -->
  <node pkg="pr2_mechanism_control" type="controllers_to_diagnostics.py" name="controller_diagnostics" />
  <node pkg="pr2_mechanism_control" type="joints_to_diagnostics.py" name="joint_diagnostics" />

</launch>

