<launch>

  <!-- send prototype1 urdf to param server -->
  <include file="$(find pr2_defs)/launch/upload_prototype1.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="prototype1_urdf" pkg="gazebo_tools" type="spawn_gazebo_model" args="robot_description 0 0 0 0 0 0 prototype1_model" respawn="false" />

  <!-- Joystick uncomment if you have joystick
  <param name="joy/deadzone" value="5000"/>
  <node machine="four" pkg="joy" type="joy"  respawn="true"/>
  -->

  <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />

  <!-- Default Controllers -->
  <rosparam command="load" file="$(find pr2_default_controllers)/head_position_controller.yaml" />


</launch>

