<launch>

  <!-- send prototype1 urdf to param server -->
  <include file="$(find pr2_defs)/launch/upload_prototype1.launch" />

  <!-- push robot_description_new to factory and spawn robot in gazebo -->
  <node pkg="gazebo_tools" type="urdf2factory" args="robot_description_new 0 0 0 0 0 0 prototype1_model" respawn="false" />

  <!-- Joystick uncomment if you have joystick
  <param name="joy/deadzone" value="5000"/>
  <node machine="four" pkg="joy" type="joy"  respawn="true"/>
  -->

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

</launch>

