<launch>
  <include file="$(find pr2_alpha)/sim.machine"/>
  <!-- start up empty world -->
  <include file="$(find gazebo)/launch/empty_world.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find texas)/texas.urdf.xacro'" />
  <node name="spawn_texas" pkg="gazebo_tools" type="urdf2factory"  args="robot_description" respawn="false" output="screen"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Diagnostics -->
  <node pkg="pr2_mechanism_control" type="controllers_to_diagnostics.py" name="controller_diagnostics" />
  <node pkg="pr2_mechanism_control" type="joints_to_diagnostics.py" name="joint_diagnostics" />

</launch>

