<launch>
  <!-- DEPRECATED:  use the one in gazebo_worlds -->
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <include file="$(find gazebo_worlds)/launch/wg_world_paused.launch" >
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)" />
  </include>
  <node name="warn_deprecated" pkg="pr2_gazebo" type="warn_deprecated.py">
    <param name="warn_deprecated" value="please use gazebo_worlds/launch/wg_world_paused.launch"/>
  </node>
</launch>
