<launch>

  <!-- send urdf to param server -->
  <param name="coffee_cup"      textfile="$(find gazebo_worlds)/objects/coffee_cup.model" />

  <!-- push urdf to factory and spawn robot in gazebo -->
  <node name="spawn_coffee_cup" pkg="gazebo_tools" type="spawn_gazebo_model" args="coffee_cup -x 1 -y -0.22 -z .57  -r 0 -p 0 -w 0 coffee_cup" respawn="false" output="screen" />

</launch>

