<launch>

  <!-- send urdf to param server -->
  <param name="wine"      textfile="$(find gazebo_worlds)/objects/000.580.67.model" />
  <param name="coffee_cup"      textfile="$(find gazebo_worlds)/objects/coffee_cup.model" />

  <!-- push urdf to factory and spawn robot in gazebo -->
  <node name="spawn_wine_cup" pkg="gazebo_tools" type="spawn_gazebo_model" args="wine -x 1 -m wine" respawn="false" output="screen" />
  <node name="spawn_coffee_cup" pkg="gazebo_tools" type="spawn_gazebo_model" args="coffee_cup -y .8 -m coffee_cup" respawn="false" output="screen" />

</launch>

