<launch>
  <!-- start world -->
  <include file="$(find gazebo_worlds)/launch/empty_world.launch"/>

  <!-- send multi_link.urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_examples_gazebo)/multi_link_defs/multi_link.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_links" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model pr2" respawn="false" output="screen" />

  <!--node name="spawn_multi_link_controller" pkg="pr2_controller_manager" type="mech.py" args="sp $(find pr2_examples_gazebo)/multi_link_defs/controllers_multi_link_zero_gains.xml" respawn="false" output="screen" /-->
  <!--node pkg="robot_mechanism_controllers" type="control.py" args="set test_controller 0.5" respawn="false" output="screen" /--> <!-- open gripper .5 radians -->
</launch>

