<launch>
  <!-- send simple_box.xml to param server -->
  <param name="simple_box" command="$(find xacro)/xacro.py '$(find pr2_examples_gazebo)/simple_rdf_examples/simple_box.xml'" />
  <node pkg="gazebo_tools" type="spawn_gazebo_model" args="simple_box" respawn="false" output="screen" />
</launch>

