<launch>
  <!-- start world -->
  <include file="$(find gazebo_worlds)/launch/empty_world.launch"/>

  <!-- send spring_transmission.urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_examples_gazebo)/spring_transmission_defs/spring_transmission.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_spring_transmission" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model pr2" respawn="false" output="screen" />

  <rosparam file="$(find pr2_examples_gazebo)/spring_transmission_defs/spring_transmission_position_controller.yaml" command="load"/>

  <node name="spawn_test_controller" pkg="pr2_controller_manager" type="spawner" args="test_controller" respawn="false" output="screen" />

</launch>

