<launch>
  <!-- send table.xml to param server -->
  <param name="table_description" command="$(find xacro)/xacro.py '$(find pr2_examples_gazebo)/table_defs/table_defs.xml'" />

  <!-- push table_description to factory and spawn robot in gazebo -->
  <node name="spawn_table" pkg="gazebo_tools" type="spawn_urdf" args="table_description -z 0.01 -m table_1" respawn="false" output="screen" />
</launch>

