<?xml version="1.0"?>
<robot name="pr2"><!-- name of the robot-->
  <transmission type="SimpleTransmission" name="link1_trans">
    <actuator name="link1_motor" />
    <joint name="link1_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
  <transmission type="SimpleTransmission" name="link2_trans">
    <actuator name="link2_motor" />
    <joint name="link2_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
  <transmission type="SimpleTransmission" name="link3_trans">
    <actuator name="link3_motor" />
    <joint name="link3_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
  <transmission type="SimpleTransmission" name="link4_trans">
    <actuator name="link4_motor" />
    <joint name="link4_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
  <transmission type="SimpleTransmission" name="link5_trans">
    <actuator name="link5_motor" />
    <joint name="link5_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
  <transmission type="SimpleTransmission" name="link6_trans">
    <actuator name="link6_motor" />
    <joint name="link6_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
  <transmission type="SimpleTransmission" name="link7_trans">
    <actuator name="link7_motor" />
    <joint name="link7_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
</robot>


