<launch>
  <!-- load empty world -->
  <include file="$(find gazebo)/launch/empty_world.launch"/>

  <!-- Bring up the node we want to test. -->
  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <!-- load controllers -->
  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch"/>
  <include file="$(find pr2_default_controllers)/head_position_controller.launch"/>

  <!-- Test for publication of 'odom' topic. -->
  <test test-name="hztest_test_odom" pkg="test_pr2_mechanism_controllers_gazebo" type="hztest" time-limit="50" name="odom_test">
    <!-- Note how we use a different parameter namespace and node name
    for this test (odom_test vs. scan_test). -->
    <param name="topic" value="/pr2_base_odometry/odom" />
    <param name="hz" value="33.0" />
    <param name="hzerror" value="2.0" />
    <param name="test_duration" value="2.0" />
    <param name="check_intervals" value="false" />
  </test>
</launch>
