<launch>
  <include file="$(find pr2_alpha)/sim.machine" />
  <!-- load empty world -->
  <include file="$(find gazebo)/launch/empty_world.launch"/>

  <!-- Bring up the node we want to test. -->
  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <!-- load controllers -->
  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch"/>
  <include file="$(find pr2_default_controllers)/head_position_controller.launch"/>
  <include file="$(find pr2_gazebo)/controllers/pr2_tilt_laser_controller.launch"/>

  <!-- Run hztest -->
  <test test-name="test_my_hztest_1" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_2" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_3" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_4" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_5" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_6" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_7" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_8" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_9" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_10" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_11" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_12" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_13" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_14" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_15" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_16" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_17" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_18" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_19" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_20" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_21" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_22" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_23" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_24" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_25" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_26" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_27" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_28" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_29" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_30" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_31" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_32" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_33" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_34" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_35" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_36" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_37" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_38" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_39" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_40" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_41" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_42" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_43" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_44" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_45" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_46" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_47" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_48" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_49" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_50" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_51" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_52" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_53" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_54" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_55" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_56" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_57" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_58" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_59" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_60" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_61" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_62" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_63" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_64" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_65" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_66" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_67" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_68" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_69" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_70" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_71" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_72" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_73" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_74" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_75" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_76" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_77" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_78" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_79" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_80" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_81" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_82" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_83" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_84" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_85" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_86" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_87" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_88" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_89" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_90" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_91" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_92" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_93" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_94" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_95" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_96" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_97" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_98" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_99" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />
  <test test-name="test_my_hztest_100" pkg="test_pr2_mechanism_controllers_gazebo" type="my_hztest.py" time-limit="100000000" />

</launch>
