<?xml version="1.0"?>
<robot name="pr2"><!-- name of the robot-->
  <transmission type="SimpleTransmission" name="link1_trans">
    <actuator name="link1_motor" />
    <joint name="link1_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
  <transmission type="SimpleTransmission" name="link2_trans">
    <actuator name="link2_motor" />
    <joint name="link2_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
    <pulsesPerRevolution>90000</pulsesPerRevolution>
  </transmission>
</robot>


