<launch>
  <arg name="gui" default="false" />

  <env name="DISPLAY" value="" unless="$(arg gui)" /> <!-- set DISPLAY="" closes  Assertion `bAttached && "A new DepthBuffer for a RenderTarget was created, but after creation" "it says it's incompatible with that RT"' error -->

  <include file="$(find pr2_gazebo)/test/collisions/slide_world.launch" >
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- send pr2 urdf to param server -->
  <include file="$(find pr2_description)/robots/upload_pr2.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo with a high starting position for the slide entry -->
  <node name="spawn_pr2_model" pkg="gazebo_ros" type="spawn_model" args="-unpause -urdf -param robot_description -y 6 -z 17 -P -1.3090 -Y 1.5708 -model pr2" respawn="false" output="screen" />

  <!-- default bringup script -->
  <include file="$(find pr2_gazebo)/launch/pr2_bringup.launch" />

  <!-- test -->
  <test test-name="test_pr2_collisions_slide" pkg="pr2_gazebo" type="test_slide.py" time-limit="120" />
</launch>
