<?xml version="1.0"?>
<robot name="pr2"><!-- name of the robot-->
  <transmission type="pr2_mechanism_model/SimpleTransmission" name="link1_trans">
    <actuator name="link1_motor" />
    <joint name="link1_joint" />
    <mechanicalReduction>1</mechanicalReduction>
    <motorTorqueConstant>1</motorTorqueConstant>
  </transmission>
</robot>


